<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AcessoBanco.Properties.Settings.StrConexao" connectionString="Data Source=ANA-EDUAP01;&#xA;&#xA;Initial Catalog=bdZLBalancas;&#xA;&#xA;User ID=TI_79 ;Password=sala21" />
    </connectionStrings>
</configuration>